  #nav{
      min-height: 80px;
  }

  body{
      overflow-x: hidden;
      background-color: black;
  }

  html {
    scroll-behavior: smooth;
  }  

*{
    font-family: 'Raleway' ;
    color: white;
}

a{
    text-decoration: none !important;
    color: white !important;
}
a:hover{
    text-decoration: none !important;
    
}
/* media queries  /////////////////////////////////////////*/

@media screen and (min-width: 480px) {
    #intro #intro-main{
        margin-top: -100px !important;
        font-size: .6em !important;
    }
    #intro-sub{
        font-size: 8em !important;
    }
  }

  @media screen and (max-width: 530px) {
    #intro #intro-main{
        font-size: 1.70em !important;
    }
    #intro-sub{
        font-size: 1.3em !important;
    }
  }

  
  @media screen and (max-width: 575px) {
    #intro #intro-main{
        margin-top: 0px !important;
        font-size: 2.2em;
    }
    #intro-sub{
        font-size: 1.4em !important;
    }
  }


@media screen and (min-width: 481px) {
    #intro #intro-main{
        font-size: 2em !important;
    }
    #intro-sub{
        font-size: 2.2em !important;
    }
  }

  @media screen and (min-width: 576px) {
    #intro #intro-main{
        margin-top: 100px !important;
        font-size: 2.2em !important;
    }
    #intro-sub{
        font-size: 1.8em !important;
    }
  }

  @media screen and (min-width: 768px) {
    #intro #intro-main{
        font-size: 3.2em !important;
    }
    #intro-sub{
        font-size: 2.8em !important;
    }
  }

  @media screen and (min-width: 992px) {
    #intro #intro-main{
        font-size: 3.6em !important;
    }
  }

  @media screen and (max-width: 590px) {
    i{
        size: 100% !important;
    }
  }

  @media screen and (max-width: 1200px) {
    #knowledge-Container{
        margin-top: 140px !important;
    }
  }

  @media screen and (max-width: 590px) {
    .nav-text{
        display: none;
    }
    .nav-link{
        display: inline-block;
        overflow: scroll;
        padding-left: auto !important;
        padding-right: auto !important ;
    }
  }

  @media screen and (max-width: 420px) {
    .portfolio-desc-title{

        font-size: 1.2em !important;
    }
  }

  @media screen and (max-width: 992px) {
    .buttons{
        margin-bottom: 22px !important;
        overflow: scroll;
    }
  }

  @media screen and (max-width: 768px) {
    .portfolio-button{
        font-size: .8em !important;
        height: auto;
        width: auto;
    }
  }

  @media screen and (max-width: 576px) {
    .portfolio-imgs{
        margin-top: 0px !important;
    }
  }

  @media screen and (min-width: 992px) {
    #portfolio-header{
        font-size: 3.2em !important;
    }
  }

  @media screen and (max-width: 400px) {
    #portfolio-header{
        font-size: 1.8em !important;
    }
  }

  @media screen and (max-width: 430px) {
    #contact-header{
        font-size: 2.25em !important;
    }
  }

  @media screen and (max-width: 330px) {
    #contact-header{
        font-size: 2em !important;
    }
  }

  @media screen and (max-width: 578px) {
    .form-container{
        margin-left: 0px !important;
    }
  }

  @media screen and (max-width: 992px) {
    .img-fluid{
        display: none !important;
    }
  }
  @media screen and (max-width: 992px) {
    #status-container{
        display: none !important;
    }
  }

  @media screen and (max-width: 992px) {
  #emailBtn-container{
      margin-left: 20%;
    }
  }
/* 
  @media screen and (max-width: 768px) {
    .portfolio-imgs{
        margin-left: 40px !important;
    }
  } */

  
  

  /* //////////////////////////////////////////////////////// */
  .portfolio-desc-title{
    font-family: 'Press Start 2P';
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}


.containers{
    background-color: #1D1D1D;
    padding: 24px;
    border-style: solid;
    border-radius: 16px; 
    border-width: 2px;
    border-color: white;
}

  #home-section{
      height: 980px;
      color: white;
  }


  #padding-top{
      height: 1px;
  }
  
  #intro{
      text-align: center;
  }

#intro #intro-main{
    margin-top: -100px;
    font-size: 4.5em;
    font-family: 'Press Start 2P' ;
}

.blue{
    color: #07A895;
}
.orange{
    color: orange;
}

#intro #intro-sub{
    margin-top: 26px;
    line-height: 2em;
    font-size: 2.3em;
    font-family: 'Raleway' ;
}

#learnMore{
    border-radius: 8px;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: .8em;
}

.navbar-nav .nav-link{
    margin-top: -14px;
    padding-top: 0px;
    padding-bottom: 16px;
    text-align: center;
    font-size: 1.5em;
    color: white;
}

.pad{
    height: 170px;
}

.row{
    background-color: black;
}

.sticky-top {
    border-radius: 0px;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
}

.tall{
    height: 600px;
}

#about-main{
    padding-top: 18px;
    padding-left: 12px;
}

#about-container{
    line-height: 1.7em;
    min-height: 380px;
    height: fit-content;
    font-size: 1.6em;
    font-family: 'Raleway' ;
}

#more-about-content{
    padding-left: 12px;
    display: none;
}

#knowledge-Container{
    min-height: 450px;
    max-height: 475px;
    padding: 24px;
}
/* 
#knowledge-header{
    font-size: 2.8em;
} */

#knowledge{
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 2px;
    min-height: 300px;
    max-height: 300px;
    overflow: scroll;
}

.fab:hover{
    background-color: #2F2F2F;
}

.fab{
    padding: 10px;
    border-radius: 8px;

}

i{
    margin-left: 16px;
    margin-top: 32px;
}

.skillsText{
    display: none;
}

#skillsTextContainer{
    max-height: fit-content;
    font-family: 'Press Start 2P' ;
    letter-spacing: 6px;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 2px;
}

.arrow {
    margin-left: 0;
    margin-top: 12px;
    text-align: center;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.bounce {
    animation-name: bounce;
    animation-timing-function: linear;
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-8px); }
    100% { transform: translateY(0); }
}

#portfolio-section{
    background-color: #0B0B0B;
}

#portfolio-container{
    margin-top: 86px;
    min-height: 800px;
    border-radius: 8px;
}

.headers{
    padding-bottom: 24px;
    text-overflow: clip;
    font-size: 2em;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: white;
    text-align: center;
    font-family: 'Press Start 2P' ;
}

#test{
    background-color: red;
}

#portfolio-items{
    background-color: #1D1D1D;
    max-height: 675px;
    overflow: scroll;
    overflow-x: hidden;
}


.portfolio-item{
    min-height: 280px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    margin-top: 28px;
    height: fit-content;
}

.nav-item:hover{
    opacity: .8;
}

.portfolio-imgs{
    border-style: solid;
    border-radius: 3px;
    border-color: white;
    border-width: 2px;
    margin: 22px;
    object-fit: scale-down;
    min-height: 240px;
    background-size: 100% 100%;
    
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.portfolio-desc{
    margin-top: 20px;
    font-size: 1.2em;
}

.portfolio-button{
    opacity: 1;
    padding-bottom: 2px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 1.35em;
    background-color: #242424;
    text-align: center;
    border-style: solid;
    border-radius: 18px;
    border-width: 2px;
    border-color: white;
}

.buttons{
    padding-top: 40px;
}

.githubButton{
    color: #07A895 !important;
}

.githubButton:hover{
    opacity: .8;
}

.appButton{
    margin-left: 10px;
    color: orange !important;
}

.appButton:hover{
    opacity: .8;
}

::-webkit-scrollbar{
    color: grey;
    width: 0px;
}

.form-group {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  .form-group label {
    margin: 5px 10px 5px 0;
  }
  
  .form-group input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 18px;
    background-color: #fff;
    border: 1px solid #ddd;
  }

  .form-container{
      margin-left: 24px;
  }

  label{
      font-size: 1.3em;
  }

  #messageInput{
      overflow: auto;
      padding-top: 28px;
      padding-bottom: 200px;
  }

#emailBtn{
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
    padding-left: 48px;
    padding-right: 48px;
    border-width: 2px;
    border-radius: 3px;
    opacity: 1;
    background-color: #242424;
}

#emailBtn:hover{
    color: orange;
    opacity: .8;
}

#contact-header{
    font-size: 3em;
}