  #nav{
      min-height: 80px;
  }

  body{
      overflow-x: hidden;
      background-color: black;
  }

  html {
    scroll-behavior: smooth;
  }  

*{
    color: white;
}

.containers{
    background-color: #1D1D1D;
    padding: 24px;
    border-style: solid;
    border-radius: 16px; 
    border-width: 2px;
    border-color: white;
}

  #home-section{
      height: 980px;
      color: white;
  }


  #padding-top{
      height: 1px;
  }
  
  #intro{
      text-align: center;
  }

#intro #intro-main{
    margin-top: -100px;
    font-size: 4.5em;
    font-family: 'Press Start 2P' ;
}

.blue{
    color: #07A895;
}
.orange{
    color: orange;
}

#intro .intro-sub{
    margin-top: 26px;
    line-height: 2em;
    font-size: 2.3em;
    font-family: 'Raleway' ;
}

#learnMore{
    border-radius: 8px;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: .8em;
}

.navbar-nav .nav-link{
    margin-top: -14px;
    padding-top: 0px;
    padding-bottom: 16px;
    text-align: center;
    font-size: 1.5em;
    color: white;
}

.pad{
    height: 200px;
}

.row{
    background-color: black;
}

.sticky-top {
    border-radius: 0px;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
}

.tall{
    height: 600px;
}

#about-main{
    padding-left: 12px;
}

#about-container{
    line-height: 1.7em;
    min-height: 380px;
    height: fit-content;
    font-size: 1.6em;
    font-family: 'Raleway' ;
}

#more-about-content{
    padding-left: 12px;
    display: none;
}


#knowledge-header hr{
    width: 300px;
}

#knowledge-Container{
    padding: 24px;
    height: 640px;
}


i{
    margin-left: 16px;
    margin-top: 32px;
}

.arrow {
    margin-left: 0;
    margin-top: 12px;
    text-align: center;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.bounce {
    animation-name: bounce;
    animation-timing-function: linear;
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-8px); }
    100% { transform: translateY(0); }
}

#portfolio-section{
    background-color: #0B0B0B;
}

#portfolio-container{
    margin-top: 86px;
    min-height: 800px;
    border-radius: 8px;
}

.headers{
    text-align: center;
    font-family: 'Press Start 2P' ;
}

#portfolio-header hr{
    width: 396px;
}

.headers hr{
    margin-top: 12px;
    border: 2px solid white;
    width: 245px;
}

#test{
    background-color: red;
}

#portfolio-items{
    background-color: #1D1D1D;
}


.portfolio-item{
    min-height: 280px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    margin-top: 28px;
    height: fit-content;
}

.portfolio-imgs{
    border-style: solid;
    border-radius: 3px;
    border-color: white;
    border-width: 2px;
    margin: 22px;
    min-height: 240px;
    background-size: 100% 100%;
}

.portfolio-desc{
    margin-top: 20px;
}