*{
    
    margin: 0;
    padding: 0;
}





.animateTypeWrite {
    display: none;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    max-width: auto;
    letter-spacing: .20em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(22, end),
      blink-caret .80s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }









a{
    text-decoration: none;
    color: white;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: #202020;
    color: white;
    font-family: 'Source Code Pro', monospace;
}

.intro-text{
    margin-top: 18%;
    width: auto;
    text-align: center;
    font-size: 1.8em;
}

#highlight-name{
    color: #5DD8FF;
}

#highlight-full-stack{
    color: #FF791c;
}

#hello-world{
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 2.5em;
    position: relative;
    width: 100%;
    text-align: center;
}

.pad{
    padding-top: .6em;
}

.whitespace{
    margin: 23%;
    width: 100%;
}

.header-container{
    padding: 1.1%;
    position: relative;
    background-color: #303030;
}

.links{
    padding-left: 1.5%;
    padding-right: 1.5%;
    display: inline-block;
    font-size: 1.5em;
    /*on hover border color white, medium thickness, rounded borders */
}

.about{
    margin-top: 0%;
    width: 100%;
    position: relative;
}

#about-header{
    padding-top: 3%;
    padding-bottom: 3%;
    position: relative;
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    font-size: 3em;
    background-color: pink;
    text-align: center;
}

#about-main{
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
    background-color: teal;
    max-width: 35%;
    font-size: 2em;
}

#about-text{
    font-size: 1.5em;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}